<%- include("partials/header.ejs") %>
  <div>
    <main class="px-3">
      <% if (locals.adj && locals.noun) {%>
        <h1 style="text-align: center;">
          <%= adj %> <!-- æ˜¾ç¤ºå½¢å®¹è¯ -->
            <%= noun %> <!-- æ˜¾ç¤ºåè¯ -->
        </h1>
        <%} else{ %>
          <h1 style="text-align: center;">Welcome to the Band Generator ðŸ¤Ÿ</h1> <!-- é»˜è®¤æ¬¢è¿Žä¿¡æ¯ -->
          <% } %>

            <form style="text-align: center;" action="/submit" method="POST">
              <input type="submit" value="Generate Name" /> <!-- æäº¤æŒ‰é’® -->
            </form>
    </main>
  </div>
  <%- include("partials/footer.ejs") %>